########################
# Unreal Derived Files #
########################
*/Binaries
*/Build
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent
*.db
*.db-shm
*.db-wal
*.ipch
*.opendb
*.sln
